<!DOCTYPE HTML>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="../css/styles.css" />
  <title>basket</title>
 </head>

 <body>
    <h1>basket</h1>

  <div>
     {{#if dishVisible}}
      {{#each basket}}
      <div class="dish">
      <img src="img/{{this.name}}.jpg" />
        <div> {{this.name}}</div>
      </div>
        
      {{/each}}
      <div>Price:{{sumOfPrice}} <a id="buy" href="http://localhost:3001/buy"><button>buy</button></a></div>
     {{/if}}
  </div>


    <a href="http://localhost:3001/">BACK</a>
  </body>


</html>
