<!DOCTYPE HTML>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="../css/styles.css" />
  <title>buy</title>
 </head>

 <body>
    <h1>mass</h1>

  <div class="centerLayer">
     {{#if success}}
      <div>
          The paument was successful!
      </div>
      {{else}}
     <div>
          Something wrong,go to the main page :(
      </div>
     {{/if}}
    
     <a href="http://localhost:3001/">BACK</a>
  </div>


    
  </body>
</html>