#buy{
color:black; 
text-decoration: none; /* Отменяем подчеркивание у ссылки */
} 

.dish{
display: inline-block;
text-align: center;
margin-top: 15px;
margin-right: 25px;
}

.centerLayer {
 margin-left: 30%; 
 width: 40%; 
 padding: 10px;
}